.main-header {
  height: 30px;
  padding: 20px 40px;
  display: flex;
  background-color: var(--color-darkslategray);
}

.logo-text {
  font-weight: bold;
  font-size: 24px;
  margin-left: 15px;
}

.logo-text-1 {
  color: var(--color-coral);
}

.logo-text-2 {
  color: white;
}

@media (max-width: 850px) {
  .main-header {
    justify-content: center;
  }
}